{% extends "doctor/html/user_base.html" %}
{% block title %}Doctor Profile {% endblock title %}

{% block body %}

<section class="profile">
     <!-- profile card  for doctor:  -->
     <div class="card">
         <div class="profile-card-body">
             <h4 id="basic-info-title" class="profile-card-title title">Basic Information</h4>
             <div class="row profileFormRow">
                 <div class="col">
                     <div class="form-group">
                         <label for="email">Email <span class="text-danger">*</span></label>
                         <input id="email" type="email" class="form-control" placeholder="{{user}}" readonly="">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">
                         <label for="first-name">Full Name <span class="text-danger">*</span></label>
                         <input id="first-name" type="text" placeholder="{{user.name}}" class="form-control">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">
                         <label for="phone">Phone Number</label>
                         <input id="phone" type="text" placeholder="{{user.number}}" class="form-control">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group mb-0">
                         <label for="dob">Date of Join</label>
                         <input id="dob" type="text" placeholder="{{user.date}}" class="form-control">
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- profile card  for doctor ends here:  -->

     <!-- contact Information -->
     {% comment %} <div class="card">
         <div class="contact-card">
             <div class="contact-card-body">
                 <h4 id="contact-details-title" class="contact-card-title title">Contact Details</h4>
                 <div class="row contact-form-row">
                     <div class="col">
                         <div class="form-group">
                             <label for="address-line1">Address Line 1</label>
                             <input id="address-line1" type="text" class="form-control">
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <label for="address-line2">Address Line 2</label>
                             <input id="address-line2" type="text" class="form-control">
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <label for="city">City</label>
                             <input id="city" type="text" class="form-control">
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <label for="state-province">State / Province</label>
                             <input id="state-province" type="text" class="form-control">
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <label for="country">Country</label>
                             <input id="country" type="text" class="form-control">
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <label for="postal-code">Postal Code</label>
                             <input id="postal-code" type="text" class="form-control">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- contact information ends here -->

     <div class="button">
         <button type="submit" class="btn">Save Details</button>
     </div> {% endcomment %}
 </section>


{% endblock body %}