{% extends "doctor/html/user_base.html" %}
{% block title %}Doctor Profile {% endblock title %}

{% block body %}

<section class="profile">
     <!-- profile card  for doctor:  -->
     <div class="card">
         <div class="profile-card-body">
             <h4 id="basic-info-title" class="profile-card-title title">Basic Information</h4>
             <div class="row profileFormRow">
                 <div class="col">
                     <div class="form-group">
                         <label for="email">Email <span class="text-danger">*</span></label>
                         <input id="email" type="email" class="form-control" placeholder="{{user}}" readonly="">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">
                         <label for="first-name">Full Name <span class="text-danger">*</span></label>
                         <input id="first-name" type="text" placeholder="{{user.name}}" class="form-control">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">
                         <label for="phone">Phone Number</label>
                         <input id="phone" type="text" placeholder="{{user.number}}" class="form-control">
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group mb-0">
                         <label for="dob">Date of Join</label>
                         <input id="dob" type="text" placeholder="{{user.date}}" class="form-control">
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


{% endblock body %}