{% extends "Home/base.html" %}
{% block title %}Services{% endblock title %}

{% block body %}
<section id="depart" style="padding: 34px;">
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}
   
        <div class="departHead">
            <h1 class="departHeading">{{ search }} Services Near You</h1>
        </div>
        
        <hr class="departLine">
        {% if nearby_services %}
        <div class="departmentRow">
            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                    {% for service, hospital_name, distance in nearby_services %}
                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="{{ service.image.url }}" alt="">
                            </div>
                            <div class="blog-slider__content">
                                <span class="blog-slider__code fa fa-map-marker" style="margin-bottom: 5px;"><b>{{ distance|floatformat:"1" }} KM From Your Location</b></span>
                                <div class="blog-slider__title" style="margin-bottom: 9px;">{{ hospital_name }}</div>
                                <div class="blog-slider__title" style="margin-bottom: 9px;">{{ service.name }}</div>
                                <div class="blog-slider__text" style="margin-bottom: 12px;">
                                    {% if service.description %}
                                        {% with description_words=service.description.split|slice:":20" %}
                                            {{ description_words|join:" " }}
                                            {% if service.description|wordcount > 20 %}
                                                ...
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                                <div class="blog-slider__text fa fa-map-marker" style="margin-bottom: 5px;"><b>{{ hospital_name.address }}</b></div>
                                <div class="blog-slider__title" style="margin-bottom: 7px;" id="price">
                                    <div class="discountPrice">Cost ₹ {{ service.discounted_price }}</div>
                                    <div class="originalPrice" style="display: flex;">
                                        <div class="actualPrice">₹ {{ service.price|floatformat:"-2" }}</div>
                                        {% if service.off_percentage %}
                                            <div class="discount">{{ service.off_percentage }}% Off</div>
                                        {% endif %}
                                    </div>
                                </div> 
                                <div class="more-details" style="margin: 10px;">
                                    <a href="{% url 'More-Details' %}?service_id={{ service.id }}" class="blog-slider__button">More Details</a>
                                </div> 
                                <div class="book-now" style="margin: 10px;">
                                    <a href="{% url 'Book-Appointment' %}?service_id={{ service.id }}" class="blog-slider__button">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if nearby_services_pathology %}
        <hr class="departLine">
        <div class="departmentRow">
            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                    {% for service, PathologyLab, distance in nearby_services_pathology %}
                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="{{ service.image.url }}" alt="">
                            </div>
                            <div class="blog-slider__content">
                                <span class="blog-slider__code fa fa-map-marker" style="margin-bottom: 5px;"><b>{{ distance|floatformat:"1" }} KM From Your Location</b></span>
                                <div class="blog-slider__title" style="margin-bottom: 8px;">{{ PathologyLab }}</div>
                                <div class="blog-slider__title" style="margin-bottom: 8px;">{{ service.name }}</div>
                                <div class="blog-slider__text" style="margin-bottom: 12px;">
                                    {% if service.description %}
                                        {% with description_words=service.description.split|slice:":20" %}
                                            {{ description_words|join:" " }}
                                            {% if service.description|wordcount > 20 %}
                                                ...
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                                <div class="blog-slider__text fa fa-map-marker" style="margin-bottom: 5px;"><b>{{ PathologyLab.address }}</b></div>
                                <div class="blog-slider__title" style="margin-bottom: 7px;" id="price">
                                    <div class="discountPrice">Cost ₹ {{ service.discounted_price }}</div>
                                    <br>
                                    <div class="originalPrice" style="display: flex;">
                                        <div class="actualPrice">₹ {{ service.price|floatformat:"-2" }}</div>
                                        {% if service.off_percentage %}
                                            <div class="discount">{{ service.off_percentage }}% Off</div>
                                        {% endif %}
                                    </div>
                                </div> 
                                <div class="more-details" style="margin: 10px;">
                                    <a href="{% url 'More-Details' %}?service_id={{ service.id }}" class="blog-slider__button">More Details</a>
                                </div> 
                                <div class="book-now" style="margin: 10px;">
                                    <a href="{% url 'Book-Appointment' %}?service_id={{ service.id }}" class="blog-slider__button">Book Now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</section>
{% endblock body %}
