{% extends "Home/base.html" %}
{% block title %}Search Services {% endblock title %}

{% block body %}

<section id="depart" style="padding: 34px;">
    <div class="departHead">
        <h1 class="departHeading">{{ search }} Services Near You</h1>
        <p class="departPara">List of the  nearest services to your location.</p>
    </div>

    <hr class="departLine">
    {% if nearby_services %}
    {% for service, hospital_name, distance in nearby_services %}
    <div class="departmentRow">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="{{ service.image.url }}"
                            alt="Service Images">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__code">{{ distance|floatformat:"1" }} KM From Your Location</span>
                        <div style="margin-bottom: 20px;" class="blog-slider__title">{{ hospital_name }}</div>
                        <div style="margin-bottom: 20px;" class="blog-slider__title">{{ service.name }}</div>
                        <div style="margin-bottom: 15px;" class="blog-slider__text">
                            {% if service.description %}
                                {% with description_words=service.description.split|slice:":20" %}
                                    {{ description_words|join:" " }}
                                        {% if service.description|wordcount > 20 %}
                                            ...
                                        {% endif %}
                                {% endwith %}
                            {% endif %}
                        </div>
                        <div style="margin-bottom: 10px; color: black;" class="blog-slider__text">Address: {{ hospital_name.address }}</div>
                        <div class="blog-slider__title" id="price">
                            <div class="discountPrice">
                                Cost ₹ {{ service.discounted_price }}
                            </div>
                            <div class="originalPrice" style="display: flex;">
                                <div class="actualPrice">
                                    ₹ {{ service.price|floatformat:"-2" }}
                                </div>
                                <div class="discount">
                                    {{ service.off_percentage }}% Off
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'Book-Appointment' %}?service_id={{ service.id }}" id="bookNow" class="blog-slider__button">Book Now</a>
                        <a href="{% url 'More-Details' %}?service_id={{ service.id }}" id="viewDetails" class="blog-slider__button">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr class="departLine">
    {% endfor %}
    {% endif %}
    {% if nearby_services_pathology %}
    {% for service, PathologyLab, distance in nearby_services_pathology %}
    <div class="departmentRow">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="{{ service.image.url }}"
                            alt="Service Images">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__code">{{ distance|floatformat:"1" }} KM From Your Location</span>
                        <div style="margin-bottom: 20px;" class="blog-slider__title">{{ PathologyLab }}</div>
                        <div style="margin-bottom: 20px;" class="blog-slider__title">{{ service.name }}</div>
                        <div  style="margin-bottom: 15px;"class="blog-slider__text">
                        {% if service.description %}
                            {% with description_words=service.description.split|slice:":20" %}
                                {{ description_words|join:" " }}
                                {% if service.description|wordcount > 20 %}
                                     ...
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        </div>
                        <div style="margin-bottom: 10px; color: black;"class="blog-slider__text">{{ PathologyLab.address }}</div>

                        <div class="blog-slider__title" id="price">
                            <div class="discountPrice">
                                Cost ₹ {{ service.discounted_price }}
                            </div>
                            <div class="originalPrice" style="display: flex;">
                                <div class="actualPrice">
                                    ₹ {{ service.price|floatformat:"-2" }}
                                </div>
                                <div class="discount">
                                    {{ service.off_percentage }} % Off
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'Book-Appointment' %}?service_id={{ service.id }}" id="bookNow" class="blog-slider__button">Book Now</a>
                        <a href="{% url 'More-Details' %}?service_id={{ service.id }}" id="viewDetails" class="blog-slider__button">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr class="departLine">
    {% endfor %}
    {% endif %}
</section>
{% endblock body %}
